<% if (trucks.length) { %>
<section class="truck-cards-container">
<% trucks.forEach((truck, idx) => { %>
    <div class="truck-card-container">
        <div class="truck-card-header">
            <a class="truck-card-headerLink" href="/trucks/<%= truck.id %>"><%= truck.applicant.toUpperCase(); %></a>
        </div>
    <% if (truck.reviews.length) { %>        
        <div class="truck-card-starsCntnr">
        <% for (let i = 0; i !== avgRatings[idx]; i++) { %>
            <span>&#9733</span>
        <% } %>
        </div>
        <div class="truck-card-revCntnr">
            <p class="truck-card-revText"><%= truck.reviews[truck.reviews.length - 1].content; %></p>
            <a class="truck-card-showlink" href="/trucks/<%= truck.id %>">read more</a>
        </div>
    <% } else { %>
        <div class="truck-card-starsCntnr">
            <span>&#9734</span>
            <span>&#9734</span>
            <span>&#9734</span>
            <span>&#9734</span>
            <span>&#9734</span>
        </div>
        <div class="truck-card-revCntnr">
            <p class="truck-card-revText">No review submitted for this truck yet!</p>
            <a class="truck-card-showlink" href="/trucks/<%= truck.id %>">read more</a>
        </div>  
    <% } %>
        <div class="truck-card-footer">
            <div class="truck-card-addRevCntnr">
                <a class="truck-card-addRevLink" href="/users/profile/trucks/<%= truck.id %>/reviews/new">
                    <i class="fas fa-pen truck-card-addRevIcon"></i>
                    <span class="truck-card-addRevText">Write a review</span>
                </a>
            </div>
    <% if (!user) { %>
            <form class="truck-card-favsCntnr" action="/users/profile/trucks/favorites" method="GET">
                <button class="truck-card-favsBtn" type="submit">
                    <span class="truck-card-favsHeartsCntnr">
                        <i class="hoverheart truck-card-favsHeart fas fa-heart"></i>
                        <i class="truck-card-favsHeart far fa-heart"></i>
                    </span>
                    <span class="truck-card-favsText">Save to favorites</span>
                </button>
            </form>
    <% } else { %>
        <% if (!user.favTrucks.some(favTruck => favTruck.id === truck.id)) { %>
            <form class="truck-card-favsCntnr" action="/trucks/<%= truck.id %>/favorites/<%= pathEndpoint %>" method="POST">
                <button class="truck-card-favsBtn" type="submit">
                    <span class="truck-card-favsHeartsCntnr">
                        <i class="hoverheart truck-card-favsHeart fas fa-heart"></i>
                        <i class="truck-card-favsHeart far fa-heart"></i>
                    </span>
                    <span class="truck-card-favsText">Save to favorites</span>
                </button>
            </form>
        <% } else { %>
            <form class="truck-card-favsCntnr" action="/trucks/<%= truck.id %>/favorites/<%= pathEndpoint %>?_method=DELETE" method="POST">
                <button class="truck-card-favsBtn" type="submit">
                    <span class="truck-card-favsHeartsCntnr">
                        <i class="hoverheart truck-card-favsHeart fas fa-heart"></i>
                        <i class="truck-card-favsHeart fas fa-heart"></i>
                    </span>
                    <span class="truck-card-favsText">Saved to favorites</span>
                </button>
            </form>
        <% } %>
    <% } %>
        </div>
    </div>
<% }); %>
</section>
<% } %>