<%- include('./partials/headerhtml') %>
  <body>
    <h1><%= viewName %></h1>
    <% if (!user) { %>
      <a href="/auth/google">Login with Google</a>
      <% } else { %>
      <a href="/logout">Log Out</a>
      <p>Login Successful!</p>
      <p>Hello <%= user.name %>!</p>
      <p>Your email address is: <%= user.email %></p>
  <% } %>
    <a href="/profile">Go to Users Page</a>
  </body>
  <%- include('./partials/footerhtml') %>