<%- include('../partials/headerhtml') %>
<body class="reviews-new">
    <h1><%= viewName %></h1>
<% if (!user) { %>
    <p>You must log in before adding a review.</p>
    <a href="/auth/google">Log In with Google</a>
<% } else { %>    
    <a href="/logout">Log Out</a>
    <p>Hello <%= user.name %>!</p>
    <a href="/users/profile">Go to Profile Page</a>
    <h1>Add Review for: <%= truck.applicant %></h1>
    <form id="reviewform" action="/trucks/<%= truck.id %>/reviews" method="POST">
        <input type="hidden" name="reviewer" value="<%= user._id %>">
        <input type="hidden" name="truck" value="<%= truck._id %>">
        <p>Rating: </p>
        <select name="rating" id="ratings" required>
            <option value="5">5 stars</option>
            <option value="4">4 stars</option>
            <option value="3">3 stars</option>
            <option value="2">2 stars</option>
            <option value="1">1 star</option>
        </select>
    </form>
    <textarea form="reviewform" cols="30" rows="10" name="content" maxlength="280" placeholder="Enter your food truck review here. (Max character count: 280)"></textarea>
    <input form="reviewform" type="submit" value="Add Review">
<% } %>
    <a href="/trucks/<%= truck.id %>">Return to Food Truck Details</a>
</body>
<%- include('../partials/footerhtml') %>