<%- include('../partials/headerhtml') %>
<body class="users-show">
    <h1><%= viewName %></h1>
    <% if (!user) { %>
        <a href="/auth/google">Login with Google</a>
        <p>Not Logged In</p>
    <% } else { %>
        <a href="/logout">Log Out</a>
        <p>Login Successful!</p>
        <p>Hello <%= user.name %>!</p>
        <p>Your email address is: <%= user.email %></p>
    <% } %>
    <a href="/users/clearuserstrucksfromarray">DEV: Clear all user's trucks from database</a>
    <a href="/trucks">Return to Food Truck Index</a>
</body>
<%- include('../partials/footerhtml') %>