<%- include('../partials/headerhtml') %>
<body class="users-show">
    <h1><%= viewName %></h1>
    <% if (!user) { %>
        <a href="/auth/google">Login with Google</a>
        <p>Not Logged In</p>
    <% } else { %>
        <a href="/logout">Log Out</a>
        <p>Login Successful!</p>
        <p>Hello <%= user.name %>!</p>
        <p>Your email address is: <%= user.email %></p>
    <% } %>
    <a href="/users/clearuserstrucksfromarray">DEV: Clear all trucks from this user's truck array</a>
    <a href="/trucks">Return to Food Truck Index</a>
    <% if (user.trucks.length) { %>
        <ul>
            <% user.trucks.forEach(truck => { %>
            <li>
            <form action="/trucks/<%= truck.id %>?_method=DELETE" method="POST">
                <input type="submit" value="X">
            </form>
            <p><%= truck.applicant %></p>
            <p><%= truck.fooditems %></p>
            <a href="/trucks/<%= truck.id %>">See More...</a>
            </li>
            <% }); %>
        </ul>
    <% } %>
</body>
<%- include('../partials/footerhtml') %>