<%- include('../partials/headerhtml') %>

<% if (user) { %>
  <a href="/trucks/new">Add a new food truck</a>
<% } %>

<% if (!user) { %>
  <a href="/users/login">Log in</a>
  <a href="/users/new">Create an account</a>
<% } else { %>
  <a href="/logout">Log Out</a>
  <a href="/users/profile">Profile</a>
<% } %>

<h3>Find the best food trucks in San Francisco.</h3>
<!-- non-functional -->
<form action="/trucks" method="GET">
  <i class="fas fa-search"></i>
  <input type="search" name="searchbar" id="searchbar" placeholder="Search for food trucks, neighborhood, or cuisines...">
  <input type="submit" value="Go!">
</form>
<select name="sortvariable" id="sortselect">
  <option value="sortby">SORT BY</option>
  <option value="1">Name (A-Z)</option>
  <option value="2">Name (Z-A)</option>
  <option value="3">Star rating</option>
  <option value="4">Number of reviews</option>
  <option value="5">Recently reviewed</option>
</select>
<select name="filtervariable" id="filterselect">
  <option value="filter">FILTER</option>
  <option value="a">Food type</option>
  <option value="b">Star rating</option>
</select>
<!-- non-functional -->


<% if (trucks.length) { %>
  <ul>
    <% trucks.forEach(truck => { %>
    <li>
      <p><%= truck.applicant.toUpperCase(); %></p>
      <% if (truck.reviews.length) { %>
        <!-- want to change this to average rating, not most recent rating -->
        
        <% for (let i = 0; i !== truck.reviews[truck.reviews.length - 1].rating; i++) { %>
      <i class="fas fa-star"></i>
        <% } %>
        <!-- want to change this to average rating, not most recent rating -->
        <!-- how do I make this preview text -->
      <p>
        <%= truck.reviews[truck.reviews.length - 1].content; %>
        <a href="/trucks/<%= truck.id %>">read more...</a>
      </p>
        <!-- how do I make this preview text -->
      <% } else { %>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <p>
        No review submitted for this truck yet!
        <a href="/trucks/<%= truck.id %>">read more...</a>
      </p>  
      <% } %>
      <% if (user) { %>
      <p><i class="fas fa-pen"></i> Write a review</p>
      <p><i class="fas fa-heart"></i> Save to favorites</p>
      <% } %>
      
      <!-- <p><%= truck.fooditems %></p> -->
      
    </li>
    <% }); %>
  </ul>
<% } %>

<%- include('../partials/footerhtml') %>