<%- include('../partials/headerhtml') %>
<body class="trucks-index">
  <h1><%= viewName %></h1>
  <% if (!user) { %>
    <a href="/auth/google">Log In with Google</a>
    <% } else { %>
    <a href="/logout">Log Out</a>
    <p>Hello <%= user.name %>!</p>
    <a href="/trucks/new">Add a Food Truck!</a>
<% } %>
  <a href="/users/profile">Go to Profile Page</a>
  <% if (trucks.length) { %>
    <ul>
      <% trucks.forEach(truck => { %>
      <li>
        <p><%= truck.applicant %></p>
        <p><%= truck.fooditems %></p>
        <a href="/trucks/<%= truck.id %>">See More...</a>
      </li>
      <% }); %>
    </ul>
  <% } %>
</body>
<%- include('../partials/footerhtml') %>