<%- include('../partials/headerhtml') %>
<body class="trucks-new">
    <h1><%= viewName %></h1>
<% if (!user) { %>
    <p>You must log in before adding a food truck.</p>
    <a href="/auth/google">Log In with Google</a>
<% } else { %>    
    <a href="/logout">Log Out</a>
    <p>Hello <%= user.name %>!</p>
    <a href="/users/profile">Go to Profile Page</a>
    <form action="/trucks" method="POST">
        <input type="text" name="applicant" placeholder="Food Truck Name">
        <input type="text" name="fooditems" placeholder="Foods Offered">
        <input type="hidden" name="creator" value="<%= user.id %>">
        <input type="submit" value="Add Food Truck">
    </form>
<% } %>
    <a href="/trucks">Return to Food Truck Index</a>
</body>
<%- include('../partials/footerhtml') %>