<%- include('../partials/headerhtml') %>

<% if (!user) { %>
    <a href="/users/login">Log In</a>
    <a href="/users/new">Create Account</a>
<% } else { %>
    <a href="/logout">Log Out</a>
    <p>Hello <%= user.name %>!</p>
<% } %>
    <a href="/users/profile">Go to Profile Page</a>

    <a href="/trucks">Go to Food Truck Index</a>
    <h1><%= truck.applicant %></h1>
    <p>Food offered: <%= truck.fooditems %></p>
<% if (user) { %>
    <% if (user.id === truck.creator.toString()) { %>
    <a href="/users/profile/trucks/<%= truck.id %>/edit">Edit Food Truck Details</a>
    <% } %>
    <% if (!hasReviewed) { %>
    <a href="/users/profile/trucks/<%= truck.id %>/reviews/new">Add a Review</a>
    <% } else { %>
    <div>
        <p>You said: </p>
        <p><%= truck.reviews.find(review => review.id === reviewId).content %></p>
    </div>
    <a href="/users/profile/trucks/<%= truck.id %>/reviews/<%= reviewId %>/edit">Edit Your Review</a>
    <% } %>
<% } %>
    <h3>All Reviews: </h3>
<% if (truck.reviews) { %>
    <% truck.reviews.forEach(review => { %>
    <p><%= review.content %></p>
    <% }); %>
<% } %>

<%- include('../partials/footerhtml') %>