<%- include('../partials/headerhtml') %>
<div class="truck-card-container">
    <p class="truck-card-header"><%= truck.applicant.toUpperCase(); %></p>
    <% if (truck.reviews.length) { %>        
    <% for (let i = 0; i !== truckAvgRating; i++) { %>
    <span>&#9733</span>
    <% } %>
    <!-- how do I make this preview text? -->
    <div class="truck-card-revCntnr">
        <p class="truck-card-revText"><%= truck.reviews[truck.reviews.length - 1].content; %></p>
    </div>
    <!-- how do I make this preview text? -->
    <% } else { %>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
    <div class="truck-card-revCntnr">
        <p class="truck-card-revText">No review submitted for this truck yet!</p>
    </div>  
    <% } %>
    <a href="/users/profile/trucks/<%= truck.id %>/reviews/new"><i class="fas fa-pen"></i> Write a review</a>
    <% if (!user) { %>
    <form action="/users/profile/trucks/favorites" method="GET">
        <p><button class="heartcontainer" type="submit"><i class="hoverhearts far fa-heart"></i><i class="hoverhearts far fa-heart"></i></button> Save to favorites</p>
    </form>
    <% } else { %>
        <% if (!user.favTrucks.some(favTruck => favTruck.toString() === truck.id)) { %>
    <!-- if not in user's favTrucks array, enable add to favorites functionality with class of 'unhearted' -->
    <form action="/trucks/<%= truck.id %>/favorites/show" method="POST">
        <p><button class="heartcontainer" type="submit"><i class="hoverhearts far fa-heart"></i><i class="hoverhearts fas fa-heart"></i></button> Save to favorites</p>
    </form>
        <% } else { %>
    <!-- else enable delete from trucks functionality with class of 'hearted' -->
    <form action="/trucks/<%= truck.id %>/favorites/show?_method=DELETE" method="POST">
        <p><button type="submit"><i class="fas fa-heart"></i></button> Saved to favorites</p>
    </form>
        <% } %>
    <% } %>
</div>
<p>Food offered: <%= truck.fooditems %></p>
<h3>All Reviews: </h3>
<% if (reviews.length) { %>
    <!-- Stretch: could pop off the most recent review that is displaying up on the top card -->
    <% reviews.forEach(review => { %>
<div>
        <% for (let i = 0; i !== review.rating; i++) { %>
    <span>&#9733</span>
        <% } %>
</div>
<p class="reviews"><%= review.reviewer.name %> said: <%= review.content %></p>
    <% }); %>
<% } else { %>
<div>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
</div>
<p>No reviews yet!</p>
<% } %>
<%- include('../partials/footerhtml') %>