<%- include('../partials/headerhtml') %>
<div class="truck-card-container">
    <p><%= truck.applicant.toUpperCase(); %></p>
    <!-- <p>Food offered: <%= truck.fooditems %></p> -->
    <% if (truck.reviews.length) { %>        
    <% for (let i = 0; i !== truckAvgRating; i++) { %>
    <span>&#9733</span>
    <% } %>
    <!-- how do I make this preview text? -->
    <p>
    <%= truck.reviews[truck.reviews.length - 1].content; %>
    </p>
    <!-- how do I make this preview text? -->
    <% } else { %>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
    <p>
    No review submitted for this truck yet!
    </p>  
    <% } %>
    <% if (user) { %>
    <a href="/users/profile/trucks/<%= truck.id %>/reviews/new"><i class="fas fa-pen"></i> Write a review</a>
    <p><i class="fas fa-heart"></i> Save to favorites</p>
    <% } %>
</div>
<h3>All Reviews: </h3>
<% if (reviews.length) { %>
    <!-- Stretch: could pop off the most recent review that is displaying up on the top card -->
    <% reviews.forEach(review => { %>
<div>
        <% for (let i = 0; i !== review.rating; i++) { %>
    <span>&#9733</span>
        <% } %>
</div>
<p><%= review.reviewer.name %> said: <%= review.content %></p>
    <% }); %>
<% } else { %>
<div>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
    <span>&#9734</span>
</div>
<p>No reviews yet!</p>
<% } %>
<%- include('../partials/footerhtml') %>