<%- include('../partials/headerhtml') %>
<body class="trucks-show">
    <h1><%= viewName %></h1>
<% if (!user) { %>
    <a href="/auth/google">Login with Google</a>
<% } else { %>
    <a href="/logout">Log Out</a>
    <p>Hello <%= user.name %>!</p>
<% } %>
    <a href="/users/profile">Go to Profile Page</a>

    <h1><%= truck.applicant %></h1>
    <p>Food offered: <%= truck.fooditems %></p>
<% if (user && user.id === truck.creator.toString()) { %>
    <a href="/users/profile/trucks/<%= truck.id %>/edit">Edit Details</a>
<% } %>
<% if (user && !user.reviews.some(reviewsTruckId => reviewsTruckId === truck.id)) { %>
    <a href="/users/profile/trucks/<%= truck.id %>/reviews/new">Add a Review</a>
<% } %>
    <h3>Reviews: </h3>
<% if (truck.reviews) { %>
    <% truck.reviews.forEach(review => { %>
    <p><%= review.content %></p>
    <% }); %>
<% } %>

    <a href="/trucks">Return to Food Truck Index</a>
</body>
<%- include('../partials/footerhtml') %>